@import "utils/variables";
@import "utils/fonts";
@import "utils/mixins";


html {
    font-family: $latoRegular;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
        font-size: 18px;
    }
    @media screen and (max-width: $iPadWidth) {
        
    }
}