// Font
$mainFont: Helvetica, Arial, sans-serif;

// Size
$mainFontSize: 18px;


$desktopWidth: 1280px;
$iPadWidth: 1024px;
$smdDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;