// Font
$gothamProLight: 'GothamPro-Light', Helvetica, Arial, sans-serif;
$gothamPro: 'GothamPro', Helvetica, Arial, sans-serif;
$latoRegular: 'Lato-Regular', Helvetica, Arial, sans-serif;
$latoSemibold: 'Lato-Semibold', Helvetica, Arial, sans-serif;
$latoMedium: 'Lato-Medium', Helvetica, Arial, sans-serif;

// Size
$headerFontSize: 47.757px;
$baseLineHeight: 1.2;

$desktopWidth: 1280px;
$iPadWidth: 1024px;
$smdDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;


//Colors
$baseWhite: #fff;
$headerText: #0d319c;

$circleBorder: #f7651f;
$circleShadow: #f78b1f;
$circleFill: rgba(247,139,31, .4);