// Font
$gothamProLight: 'GothamPro-Light', Helvetica, Arial, sans-serif;
$gothamPro: 'GothamPro-Light', Helvetica, Arial, sans-serif;
$latoRegular: 'Lato-Regular', Helvetica, Arial, sans-serif;
$latoSemibold: 'Lato-Semibold', Helvetica, Arial, sans-serif;
$latoMedium: 'Lato-Medium', Helvetica, Arial, sans-serif;

// Size
$mainFontSize: 18px;


$desktopWidth: 1280px;
$iPadWidth: 1024px;
$smdDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;